a, a:link, a:hover, a:active, a:visited, .contenedorder2{
	color:black;
}

.contenedorizq, .contenedorizq2, .contenedorder, .contenedorder2, .contenedorcen{
	border: 1px solid #dee2e6;

}

.contenedorizq, .contenedorder, .contenedorcen{
	-webkit-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
    box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
}

.random{
	height: 20% !important;
}

.contenedorder{
	height:100%;
  	overflow-y:scroll;
}

h1{
	font-size: 100%;
}

h2{
	font-size: 150%!important;
}

.ci1{
	float: left;
} 

.ci2{
	float: right;
}

.monto > b{
	color: #00AA4F;
}

.monto-negativo > b{
	color: #cf1818;
}

.contenedor{
	float: left;
}

.nav2 > p:hover {
	color:white;
}
/* Celular */
@media (max-width: 575.98px){
	nav > img {
		width: 50%
	}
	
}