/****************************
*****************************
    ROLLING BANK - PRESTAMOS
*****************************
****************************/

/*---------------------------
    BODY, HTML
---------------------------*/

body, html {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.9px;
}

/*---------------------------
    SECCIONES-HEADER
---------------------------*/

.secciones a:hover, .redes a:hover{
    text-decoration: none;
    color: #00AA4F!important;
    transition: color .5s;
    font-weight: bold;
}

.redes a {
    font-size: 1.3rem;
    color: black;
}

/*---------------------------
    TABLA
---------------------------*/

.monto > b{
    color: #00AA4F;
}


/*---------------------------
    SALUDO
---------------------------*/

.saludo, .hola {
    font-size: 1.8rem;
    letter-spacing: 2.5px;
}

/*---------------------------
    FOOTER
---------------------------*/

footer a {
    color: black;
}

footer a:hover {
    color: #00AA4F;
    text-decoration: none;
}

/*---------------------------
    @media-querys
---------------------------*/

    /*---------------------------
        @media - 576px
    ---------------------------*/

    @media (min-width: 476px) and (max-width: 700px) {

        /*---------------------------
            @media - header
        ---------------------------*/
    
        .secciones {
            display: none !important;
        }
    
        /*---------------------------
            @media - footer
        ---------------------------*/
    
        footer {
            margin: 0px !important;
        }
    
    }