/****************************
*****************************
    ROLLING BANK - CAJA
*****************************
****************************/

/*---------------------------
    BODY, HTML
---------------------------*/

body, html {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.9px;
}

/*---------------------------
    SECCIONES-HEADER
---------------------------*/

.secciones a:hover, .redes a:hover{
    text-decoration: none;
    color: #00AA4F!important;
    transition: color .5s;
    font-weight: bold;
}

.redes a {
    font-size: 1.3rem;
    color: black;
}

/*---------------------------
    CONTENIDO
---------------------------*/

.consultas {
    background-color: #C0DBFB;
}

.btn-consultas {
    -webkit-box-shadow: 3px 7px 23px -3px rgba(0,0,0,0.36);
    -moz-box-shadow: 3px 7px 23px -3px rgba(0,0,0,0.36);
    box-shadow: 3px 7px 23px -3px rgba(0,0,0,0.36)
}

.fa-clipboard-list {
    font-size: 1.5rem;
}

.mis-cuentas {
    border-bottom-style: solid;
    border-width: 3px;
}

.cuentas {
    -webkit-box-shadow: 0px 22px 107px -55px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 22px 107px -55px rgba(0,0,0,0.19);
    box-shadow: 0px 22px 107px -55px rgba(0,0,0,0.19);
}

/*---------------------------
    FOOTER
---------------------------*/

footer a {
    color: black;
}

footer a:hover {
    color: #00AA4F;
    text-decoration: none;
}

/*---------------------------
    @media-querys
---------------------------*/

    /*---------------------------
        @media - 576px
    ---------------------------*/

@media (min-width: 476px) and (max-width: 700px) {

    /*---------------------------
        @media - header
    ---------------------------*/
    
    button.navbar-toggler, .redes, .home-banking {
        display: none !important;
    }

    nav img {
        margin: auto;
    }

    .home-banking-res, .secciones-mobile {
        display: unset !important;
    }

    .secciones {
        display: none !important;
    }

    .secciones-mobile {
        display: flex !important;
        justify-content: space-around !important;
    }

    /*---------------------------
        @media - cuentas
    ---------------------------*/

    .cuentas-titulo, .c-mis-cuentas, .estadistica, .saldo, .caja-ahorro, .consultas {
        margin: auto !important;
    }

    .c-mis-cuentas {
        margin-top: 2rem !important;
    }

    .caja {
        padding-top: 1.3rem !important;
    }

    .caja-ahorro, .saldo {
        padding: 3rem;
    }

    .c-operaciones {
        padding: 0 !important;
    }

    .operaciones {
        display: none !important;
    }

    /*---------------------------
        @media - footer
    ---------------------------*/

    footer {
        margin: 0px !important;
    }
}